@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(122, 122, 122);
  border: 3px solid #1F1F1F;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1F1F1F;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
@media (max-width: 1200px) {
  .container {
    padding: 20px;
  }
}

.arrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 20px;
  border-left: solid 0.3rem;
  border-bottom: solid 0.3rem;
  transform: rotate(-45deg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 70px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: 10;
}
@media (max-width: 1200px) {
  .navbar {
    padding: 20px;
  }
}
.navbar__scroll {
  background-color: rgb(30, 30, 30);
  padding: 10px 70px;
  opacity: 90%;
}
@media (max-width: 1200px) {
  .navbar__scroll {
    padding: 20px;
  }
}
.navbar__logo {
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.navbar__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 900px) {
  .navbar__list {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    padding: 100px 0;
    transform: translateX(100vw);
    background-color: rgb(14, 12, 12);
    transition: 0.3s ease-in-out;
  }
}
.navbar__list-open {
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}
.navbar__item {
  padding: 0 25px;
}
.navbar__item:last-child {
  padding: 0;
}
.navbar__link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
}
.navbar__link img {
  display: block;
  margin: auto;
}
.navbar__link:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 25%;
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  border-radius: 5rem;
  transition: 0.3s;
}
.navbar__link:hover::after {
  width: 50%;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  display: none;
  z-index: 1;
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
}
.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger__inner {
  transition: all 0.5s;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  top: 10px;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #1F1F1F;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23232323' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@media (max-width: 1200px) {
  .hero {
    background-image: none;
    flex-direction: column;
    align-items: center;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.hero__header h1 {
  font-size: 5.7rem;
  margin: 0;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 375px) {
  .hero__header h1 {
    font-size: 24vw;
  }
}
@media (max-width: 1200px) {
  .hero__header h1:first-child {
    display: none;
  }
}
.hero__header h1:nth-child(2) {
  display: none;
}
@media (max-width: 1200px) {
  .hero__header h1:nth-child(2) {
    display: inline;
  }
}
@media (max-width: 1200px) {
  .hero__header h1:nth-child(3) {
    display: none;
  }
}
.hero__header h1:nth-child(4) {
  display: none;
}
@media (max-width: 1200px) {
  .hero__header h1:nth-child(4) {
    display: inline;
  }
}
.hero__header h1 span {
  display: none;
}
@media (max-width: 1200px) {
  .hero__header h1 span {
    display: inline-block;
    color: #3B40B9;
  }
}
@media (max-width: 1200px) {
  .hero__image {
    display: none;
  }
}
.hero__paragraph {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0.3em;
}
@media (max-width: 375px) {
  .hero__paragraph {
    font-size: 4vw;
  }
}
.hero__link {
  text-decoration: none;
}
.hero__arrow {
  border-color: white;
}
@media (max-width: 1200px) {
  .hero__arrow {
    border-color: #3B40B9;
  }
}

.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 80%;
}
@media (max-width: 1200px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.about__wrapper h1 {
  color: #000000;
  font-size: 48px;
}
.about__wrapper div {
  display: flex;
  margin: 40px;
}
@media (max-width: 1200px) {
  .about__wrapper div {
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 900px) {
  .about__wrapper div {
    flex-direction: column;
    align-items: center;
  }
}
.about__image {
  width: 350px;
  height: 500px;
  position: relative;
  background-image: url("/images/about_image.JPG");
  background-size: cover;
  border-radius: 5px;
  display: block;
}
@media (max-width: 900px) {
  .about__image {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .about__image {
    width: 100%;
    height: auto;
  }
}
.about__image::before {
  content: "";
  background-image: url(/images/zebra.svg);
  background-size: 120px 120px;
  display: inline-block;
  width: 120px;
  height: 120px;
  z-index: -1;
  position: absolute;
  left: -60px;
  bottom: -60px;
}
@media (max-width: 1200px) {
  .about__image::before {
    display: none;
  }
}
.about__image::after {
  content: "";
  background-image: url(/images/zigzag.svg);
  background-size: 400px 180px;
  display: inline-block;
  width: 400px;
  height: 180px;
  z-index: -1;
  position: absolute;
  right: -70px;
  top: -50px;
}
@media (max-width: 1200px) {
  .about__image::after {
    display: none;
  }
}
.about__text {
  padding-left: 100px;
  width: 40%;
}
@media (max-width: 1200px) {
  .about__text {
    padding-left: 40px;
  }
}
@media (max-width: 900px) {
  .about__text {
    width: 90%;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .about__text {
    width: 100%;
    font-size: 18px;
  }
}
.about__paragraph {
  color: rgb(30, 30, 30);
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .about__paragraph {
    margin: 0;
  }
}
@media (max-width: 900px) {
  .about__paragraph {
    margin: 50px;
  }
}
@media (max-width: 900px) {
  .about__paragraph {
    margin: 50px;
  }
}
@media (max-width: 700px) {
  .about__paragraph {
    font-size: 18px;
  }
}
.about__arrow {
  border-color: rgb(30, 30, 30);
}

.hidden {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.portfolio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
@media (max-width: 900px) {
  .portfolio {
    flex-direction: column;
  }
}
.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
.portfolio__wrapper h1 {
  color: #000000;
  font-size: 48px;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.portfolio__grid-item {
  transition: 0.25s ease;
}
.portfolio__grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);
}
.portfolio__arrow {
  border-color: rgb(30, 30, 30);
}
.portfolio__button {
  padding: 10px 20px;
  margin: 30px;
  background-color: #1F1F1F;
  color: white;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.portfolio__button:hover {
  background-color: rgb(53, 53, 53);
}
.portfolio__input {
  display: none;
  transition: 0.25s ease;
}
.portfolio__input:checked ~ .portfolio__grid .hidden {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.portfolio__input ~ .portfolio__checkbox-label:before {
  content: "Show more";
}
.portfolio__input:checked ~ .portfolio__checkbox-label:before {
  content: "Show less";
}
.portfolio__checkbox-label {
  cursor: pointer;
  padding: 10px 20px;
  margin: 30px;
  background-color: #1F1F1F;
  color: white;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}
.portfolio__checkbox-label:checked ~ .portfolo__grid .hidden {
  opacity: 1;
  max-height: 100%;
}
.portfolio__checkbox-label:checked::before {
  content: "Show less";
}

@media (max-width: 1200px) {
  .project {
    display: none;
  }
}
.project__container {
  padding: 25px;
  border-radius: 5px;
  background-color: #D9D9D9;
}
.project__inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.project__tittle {
  font-size: 24px;
  color: #000000;
  margin: 0;
}
.project__link {
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.project__description {
  font-size: 16px;
  color: #000000;
}
.project__tech-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.project__tech-list li {
  padding-right: 15px;
  padding-left: 0;
  color: #000000;
  font-size: 10px;
}

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F1F1F;
  height: auto;
}
.contact__wrapper {
  max-width: 1000px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.contact__wrapper h1 {
  color: #FFFFFF;
  font-size: 48px;
}
.contact__wrapper-flex {
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .contact__wrapper-flex {
    display: none;
  }
}
.contact__text {
  width: 50%;
  padding: 0px 30px 30px 30px;
}
.contact__text p {
  margin: 0;
}
@media (max-width: 900px) {
  .contact__text {
    display: none;
  }
}
.contact__inputs {
  width: 50%;
  background-color: #3a3a3a;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 900px) {
  .contact__inputs {
    display: none;
  }
}
.contact__inputs h3 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 16px;
}
.contact__inputs input, .contact__inputs #input__text {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #ffffff;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 14px;
}
.contact__link {
  display: none;
}
@media (max-width: 900px) {
  .contact__link {
    display: flex;
    width: 80%;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #1F1F1F;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}
.contact__link svg {
  margin-right: 10px;
}
.contact__button {
  border: none;
  border-radius: 5px;
  color: #000000;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.show {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=style.css.map */